.Header {
  border-bottom: 1px solid #ddd;

  .container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-menu {
    margin-left: auto;
    display: flex;
  }
}
