section.Footer 
    .container.Footer-navigation 
        a.Footer-navigation-item(href="#") Your account 
        a.Footer-navigation-item(href="#") Make changes to your booking online
        a.Footer-navigation-item(href="#") Customer Service help
        a.Footer-navigation-item(href="#") Become an affiliate
        a.Footer-navigation-item(href="#") Booking.com for Business
        a.Footer-navigation-item(href="#") List your property
    .container.hr
        hr
    .container.bottom 
        .bottom-left 
            a.bottom-left-items(href="#") Countries 
            a.bottom-left-items(href="#") Regions
            a.bottom-left-items(href="#") Cities
            a.bottom-left-items(href="#") Districts
            a.bottom-left-items(href="#") Airports
            a.bottom-left-items(href="#") Holiday rentals
            a.bottom-left-items(href="#") Apartments
            a.bottom-left-items(href="#") Resorts
            a.bottom-left-items(href="#") Villas
            a.bottom-left-items(href="#") Hostrels
            a.bottom-left-items(href="#") All property types
            a.bottom-left-items(href="#") All themes
            a.bottom-left-items(href="#") All destinations
            a.bottom-left-items(href="#") Reviews
            a.bottom-left-items(href="#") Travel articles
            a.bottom-left-items(href="#") Car hire
            a.bottom-left-items(href="#") Flight finder
            a.bottom-left-items(href="#") Restaurant reservations
            a.bottom-left-items(href="#") Seek&Go
            a.bottom-left-items(href="#") For Travel Agents
            a.bottom-left-items(href="#") About Booking.com
            a.bottom-left-items(href="#") Press centre
            a.bottom-left-items(href="#") Terms & Conditions
            a.bottom-left-items(href="#") Privacy & Cookies
            a.bottom-left-items(href="#") Contact Us
        .bottom-right 
            .bottom-right-icons 
                a(href="#" class="bottom-right-icons-link apple") 
                    img(src="./img/apple.svg" alt="Apple") 
                a(href="#" class="bottom-right-icons-link google")
                    img(src="./img/google.svg" alt="Google")          
            .hr 
                hr
            .bottom-right-info 
                p Booking.com B.V. is based in Amsterdam in the Netherlands, and is supported internationally by 
                    a(href="#") 204 offices in 70 countries.
    .container.copyright 
        p Copyright © 1996-2017 Booking.com™. All rights reserved.