footer.footer
  .container
    .footer-main
      .footer-main-item
        .footer-main-item-top
          a.footer-main-item-top-item(href='') Your account
          a.footer-main-item-top-item(href='') Make changes to your booking online
          a.footer-main-item-top-item(href='') Customer Service help
          a.footer-main-item-top-item(href='') Become an affiliate
          a.footer-main-item-top-item(href='') Booking.com for Business
          a.footer-main-item-top-item(href='') List your property
        .footer-main-item-bottom
          .footer-main-item-bottom-box
            a.footer-main-item-bottom-box-item(href='') Countries
            a.footer-main-item-bottom-box-item(href='') Regions
            a.footer-main-item-bottom-box-item(href='') Cities
            a.footer-main-item-bottom-box-item(href='') Districts
            a.footer-main-item-bottom-box-item(href='') Airports
          .footer-main-item-bottom-box
            a.footer-main-item-bottom-box-item(href='') Holiday Rentals
            a.footer-main-item-bottom-box-item(href='') Apartments
            a.footer-main-item-bottom-box-item(href='') Resorts
            a.footer-main-item-bottom-box-item(href='') Villas
            a.footer-main-item-bottom-box-item(href='') Hostels
          .footer-main-item-bottom-box
            a.footer-main-item-bottom-box-item(href='') All property types
            a.footer-main-item-bottom-box-item(href='') All themes
            a.footer-main-item-bottom-box-item(href='') All Destinations
            a.footer-main-item-bottom-box-item(href='') Reviews
            a.footer-main-item-bottom-box-item(href='') Travel articles
          .footer-main-item-bottom-box
            a.footer-main-item-bottom-box-item(href='') Car hire
            a.footer-main-item-bottom-box-item(href='') Flight finder
            a.footer-main-item-bottom-box-item(href='') Restaurant reservations
            a.footer-main-item-bottom-box-item(href='') Seek&Go
            a.footer-main-item-bottom-box-item(href='') For Travel Agents
          .footer-main-item-bottom-box
            a.footer-main-item-bottom-box-item(href='') About Booking.com
            a.footer-main-item-bottom-box-item(href='') Press centre
            a.footer-main-item-bottom-box-item(href='') Terms & Conditions
            a.footer-main-item-bottom-box-item(href='') Privacy & Cookies
            a.footer-main-item-bottom-box-item(href='') Contact us
          .footer-main-item-bottom-box
            .footer-main-item-bottom-box-store
              a(href="", class="footer-main-item-bottom-box-store-link apple")
                img(src="img/apple.svg")
              a(href="", class="footer-main-item-bottom-box-store-link google")
                img(src="img/google.svg")
            .footer-main-item-bottom-box-desc
              p.footer-main-item-bottom-box-desc-item
              | Booking.com B.V. is based in Amsterdam in the Netherlands, and is supported internationally by
              | 
              a.footer-main-item-bottom-box-desc-tag(href='') 204 offices in 70 countries





