// Header
header.Header
  // Header Container
  .container
    // Header Logo
    a.Header-logo(href='')
      img(src='img/site-logo.png', alt='')
    // Dil Seçimi ve Para Birimi Seçimi
    button.Header-switch.button.button-icon(type='button')
      svg.icon.icon-menu
        use(xlink:href='#icon-menu')
    // Header Menü
    .Header-menu
      // Üye Kayıt Formu & Üye Giriş Alanı
      .Header-menu-user
        a(href='#') Register
        a(href='#') Sign In
      // button-blue classı renk verdi
      a.Header-menu-property.button.button-blue(href='#') List Your Property
      // Menu-Helper
      .Header-menu-helper
        select(name='')
          option(value='eng') ENG
        select(name='')
          option(value='eng') UAH