header.Header
  .container
    a.Header-logo(href='')
      img(src='img/site-logo.png', alt='')

    button.Header-switch.button.button-icon(type='button')
      svg.icon.icon-menu
        use(xlink:href='#icon-menu')

    .Header-menu
      .Header-menu-user
        a(href='') Register
        a(href='') Sign In

      a.Header-menu-property.button.button-blue(href='') List your property

      .Header-menu-helper
        select
          option(value='en') En
        select
          option(value='en') UAH
