svg(style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    symbol#icon-menu(viewbox='0 0 24 24')
      title icon-menu
      path(d='M3 6h18v2.016h-18v-2.016zM3 12.984v-1.969h18v1.969h-18zM3 18v-2.016h18v2.016h-18z')
    symbol#icon-pin_drop(viewbox='0 0 24 24')
      title pin_drop
      path(d='M5.016 20.016h13.969v1.969h-13.969v-1.969zM9.984 8.016c0 1.078 0.938 1.969 2.016 1.969 1.125 0 2.016-0.891 2.016-1.969s-0.938-2.016-2.016-2.016-2.016 0.938-2.016 2.016zM18 8.016c0 4.5-6 10.969-6 10.969s-6-6.469-6-10.969c0-3.328 2.672-6 6-6s6 2.672 6 6z')
    symbol#icon-person(viewbox='0 0 24 24')
      title person
      path(d='M12 14.016c2.672 0 8.016 1.313 8.016 3.984v2.016h-16.031v-2.016c0-2.672 5.344-3.984 8.016-3.984zM12 12c-2.203 0-3.984-1.781-3.984-3.984s1.781-4.031 3.984-4.031 3.984 1.828 3.984 4.031-1.781 3.984-3.984 3.984z')
    symbol#icon-date_range(viewbox='0 0 24 24')
      title date_range
      path(d='M18.984 20.016v-11.016h-13.969v11.016h13.969zM18.984 3.984c1.078 0 2.016 0.938 2.016 2.016v14.016c0 1.078-0.938 1.969-2.016 1.969h-13.969c-1.125 0-2.016-0.891-2.016-1.969v-14.016c0-1.078 0.891-2.016 2.016-2.016h0.984v-1.969h2.016v1.969h7.969v-1.969h2.016v1.969h0.984zM17.016 11.016v1.969h-2.016v-1.969h2.016zM12.984 11.016v1.969h-1.969v-1.969h1.969zM9 11.016v1.969h-2.016v-1.969h2.016z')
    symbol#icon-check(viewbox='0 0 24 24')
      title check
      path(d='M9 16.172l10.594-10.594 1.406 1.406-12 12-5.578-5.578 1.406-1.406z')
    symbol#icon-arrow-bottom(viewbox='0 0 24 24')
      title arrow-bottom
      path(d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z')
    symbol#icon-lifebuoy(viewBox='0 0 32 32')
      title lifebuoy
      path(d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM10 16c0-3.314 2.686-6 6-6s6 2.686 6 6-2.686 6-6 6-6-2.686-6-6zM28.937 21.359v0l-5.544-2.297c0.391-0.943 0.608-1.977 0.608-3.062s-0.216-2.119-0.608-3.062l5.544-2.297c0.685 1.651 1.063 3.46 1.063 5.359s-0.379 3.708-1.063 5.359v0zM21.359 3.063v0 0l-2.297 5.544c-0.943-0.391-1.977-0.607-3.062-0.607s-2.119 0.216-3.062 0.607l-2.297-5.544c1.651-0.684 3.46-1.063 5.359-1.063s3.708 0.379 5.359 1.063zM3.063 10.641l5.544 2.297c-0.391 0.943-0.608 1.977-0.608 3.062s0.216 2.119 0.607 3.062l-5.544 2.297c-0.685-1.651-1.063-3.46-1.063-5.359s0.379-3.708 1.063-5.359zM10.641 28.937l2.297-5.544c0.943 0.391 1.977 0.608 3.062 0.608s2.119-0.216 3.062-0.608l2.297 5.544c-1.651 0.684-3.46 1.063-5.359 1.063s-3.708-0.379-5.359-1.063z")
    symbol#icon-bubbles3(viewBox='0 0 36 32')
      title bubbles3
      path(d="M34 28.161c0 1.422 0.813 2.653 2 3.256v0.498c-0.332 0.045-0.671 0.070-1.016 0.070-2.125 0-4.042-0.892-5.398-2.321-0.819 0.218-1.688 0.336-2.587 0.336-4.971 0-9-3.582-9-8s4.029-8 9-8c4.971 0 9 3.582 9 8 0 1.73-0.618 3.331-1.667 4.64-0.213 0.463-0.333 0.979-0.333 1.522zM7.209 6.912c-2.069 1.681-3.209 3.843-3.209 6.088 0 1.259 0.35 2.481 1.039 3.63 0.711 1.185 1.781 2.268 3.093 3.133 0.949 0.625 1.587 1.623 1.755 2.747 0.056 0.375 0.091 0.753 0.105 1.129 0.233-0.194 0.461-0.401 0.684-0.624 0.755-0.755 1.774-1.172 2.828-1.172 0.168 0 0.336 0.011 0.505 0.032 0.655 0.083 1.323 0.125 1.987 0.126v4c-0.848-0-1.68-0.054-2.492-0.158-3.437 3.437-7.539 4.053-11.505 4.144v-0.841c2.142-1.049 4-2.961 4-5.145 0-0.305-0.024-0.604-0.068-0.897-3.619-2.383-5.932-6.024-5.932-10.103 0-7.18 7.163-13 16-13 8.702 0 15.781 5.644 15.995 12.672-1.284-0.572-2.683-0.919-4.133-1.018-0.36-1.752-1.419-3.401-3.070-4.742-1.104-0.897-2.404-1.606-3.863-2.108-1.553-0.534-3.211-0.804-4.928-0.804s-3.375 0.271-4.928 0.804c-1.46 0.502-2.76 1.211-3.863 2.108z")
    