// İkonlar
svg(aria-hidden='true', style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    symbol#icon-menu(viewBox='0 0 32 32')
      title icon-menu
      path(d='M2 6h28v6h-28zM2 14h28v6h-28zM2 22h28v6h-28z')
    symbol#icon-location(viewBox='0 0 32 32')
      title location
      path(d='M16 0c-5.523 0-10 4.477-10 10 0 10 10 22 10 22s10-12 10-22c0-5.523-4.477-10-10-10zM16 16c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z')
    symbol#icon-calendar(viewBox='0 0 32 32')
      title calendar
      path(d='M10 12h4v4h-4zM16 12h4v4h-4zM22 12h4v4h-4zM4 24h4v4h-4zM10 24h4v4h-4zM16 24h4v4h-4zM10 18h4v4h-4zM16 18h4v4h-4zM22 18h4v4h-4zM4 18h4v4h-4zM26 0v2h-4v-2h-14v2h-4v-2h-4v32h30v-32h-4zM28 30h-26v-22h26v22z')
    symbol#icon-user(viewBox='0 0 32 32')
      title user
      path(d='M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z')
    symbol#icon-checkmark(viewBox='0 0 32 32')
      title checkmark
      path(d='M27 4l-15 15-7-7-5 5 12 12 20-20z')
    symbol#icon-arrow-bottom(viewBox='0 0 24 24')
      title arrow-bottom
      path(d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z')
    symbol#icon-arrow_right(viewbox='0 0 24 24')
      title arrow_right
      path(d='M8.578 16.359l4.594-4.594-4.594-4.594 1.406-1.406 6 6-6 6z')
    symbol#icon-airplane(viewbox='0 0 32 32')
      title airplane
      path(d='M24 19.999l-5.713-5.713 13.713-10.286-4-4-17.141 6.858-5.397-5.397c-1.556-1.556-3.728-1.928-4.828-0.828s-0.727 3.273 0.828 4.828l5.396 5.396-6.858 17.143 4 4 10.287-13.715 5.713 5.713v7.999h4l2-6 6-2v-4l-7.999 0z')
    symbol#icon-selections3-comment-icon(viewbox='0 0 33 32')
      title selections3-comment-icon
      path(d='M12.001 27.281c0.48 0 0.96 0 1.92 0s1.44 0 2.88 0c4.32 0 8.161-1.44 10.561-3.84 2.88-2.4 4.8-5.761 4.8-9.121 0-3.84-1.92-7.201-4.8-9.601-2.4-2.4-6.241-3.84-10.561-3.84s-8.161 1.44-11.041 3.84c-2.88 2.4-4.8 5.761-4.8 9.601 0 1.92 0.96 3.84 1.92 5.761 0.96 1.44 2.4 3.36 4.32 4.32l0.48 0.48-3.84 3.84c1.92-0.48 3.84-1.44 5.761-2.4 1.92-1.44 4.32-2.88 6.241-4.32-3.36-3.36-6.721-6.241-6.721-9.601 0-0.96 0.48-1.92 0.96-2.88 0.96-0.48 1.92-0.96 2.88-0.96 1.92 0 2.88 0.48 3.84 1.92 0.48-0.48 0.48-0.96 0.96-0.96 0.48-0.48 1.44-0.96 2.4-0.96s2.4 0.48 2.88 0.96c0.96 0.96 1.44 1.92 1.44 2.88 0 1.92-0.96 3.36-2.4 5.281-1.44 1.44-3.36 2.88-4.8 4.8h-0.48c-2.4 1.92-4.32 3.36-6.721 4.8s-5.28 2.4-7.681 3.84l-2.4 0.96 5.761-7.201c-1.44-0.96-2.88-2.88-3.84-4.32-1.44-1.92-1.92-4.32-1.92-6.241 0-3.84 1.92-7.681 4.8-10.081 2.88-2.88 7.201-4.32 12.001-4.32 4.32 0 8.641 1.44 11.521 4.32 2.88 2.4 4.8 6.241 4.8 10.081s-1.92 7.201-4.8 10.081c-2.88 2.4-7.201 4.32-11.521 4.32-1.44 0-2.4-0.48-2.88-0.48-0.96 0-1.44 0-1.92 0v-0.96zM18.242 10.479c-0.48 0-0.48 0.48-0.96 1.44l-0.48 0.96-0.48-0.96c-0.96-1.44-1.44-2.4-3.36-2.4-0.48 0-1.44 0.48-1.92 0.96s-0.96 0.96-0.96 1.92c0 2.88 3.36 5.761 6.721 8.641 1.44-1.44 3.36-2.88 4.32-4.32 1.44-1.44 1.92-2.88 1.92-4.32 0-0.96 0-1.44-0.48-1.92-0.96-0.48-1.44-0.96-2.4-0.96-0.48 0-1.44 0.48-1.92 0.96z')
    symbol#icon-selections3-help-icon(viewbox='0 0 32 32')
      title selections3-help-icon
      path(d='M16 0c4.426 0 8.511 1.702 11.234 4.766 3.064 2.723 4.766 6.809 4.766 11.234s-1.702 8.511-4.766 11.234c-2.723 3.064-6.809 4.766-11.234 4.766s-8.511-1.702-11.234-4.766c-3.064-2.723-4.766-6.809-4.766-11.234s1.702-8.511 4.766-11.234c2.723-3.064 6.809-4.766 11.234-4.766zM26.213 5.787c-2.383-2.723-6.128-4.426-10.213-4.426s-7.489 1.702-10.213 4.426c-2.723 2.723-4.426 6.128-4.426 10.213s1.702 7.83 4.426 10.213c2.723 2.723 6.128 4.426 10.213 4.426s7.83-1.702 10.213-4.426c2.723-2.383 4.426-6.128 4.426-10.213s-1.702-7.489-4.426-10.213zM16 7.489c2.383 0 4.426 1.021 6.128 2.723 1.362 1.362 2.383 3.404 2.383 5.787s-1.021 4.426-2.383 6.128c-1.702 1.362-3.745 2.383-6.128 2.383s-4.426-1.021-5.787-2.383c-1.702-1.702-2.723-3.745-2.723-6.128s1.021-4.426 2.723-5.787c1.362-1.702 3.404-2.723 5.787-2.723zM21.106 11.234c-1.362-1.362-3.064-2.043-5.106-2.043s-3.745 0.681-4.766 2.043c-1.362 1.021-2.043 2.723-2.043 4.766s0.681 3.745 2.043 5.106c1.021 1.021 2.723 2.043 4.766 2.043s3.745-1.021 5.106-2.043c1.021-1.362 2.043-3.064 2.043-5.106s-1.021-3.745-2.043-4.766zM7.149 5.787l3.064 3.064-1.362 1.021-2.723-3.064 1.021-1.021zM10.213 22.808l-3.404 3.404-1.021-1.021 3.064-3.404 1.362 1.021zM26.213 6.809l-3.064 3.064-1.021-1.021 3.064-3.064 1.021 1.021zM23.149 21.787l2.723 2.723-1.021 1.021-2.723-2.383 1.021-1.362zM15.66 17.702c0 0 0 0 0 0 0-0.34 0-0.681 0-1.021 0.34-0.34 0.34-0.34 0.34-0.681 0.34 0 0.34-0.34 0.681-0.681 0.34 0 0.681-0.34 0.681-0.681 0 0 0.34-0.34 0.34-0.34 0-0.34-0.34-0.681-0.681-1.021 0-0.34-0.34-0.34-1.021-0.34-0.34 0-0.681 0-0.681 0.34-0.34 0.34-0.681 0.681-0.681 1.021h-1.021c0.34-0.681 0.34-1.021 1.021-1.702 0.34-0.34 0.681-0.34 1.362-0.34s1.362 0 1.702 0.681c0.681 0.34 0.681 0.681 0.681 1.362 0 0.34 0 0.681 0 0.681-0.34 0.34-0.681 0.681-1.021 1.021s-0.34 0.34-0.681 0.681c0 0 0 0.34 0 0.34 0 0.34 0 0.34-0.34 0.681h-0.681zM15.66 19.745v-1.021h0.681v1.021h-0.681zM15.319 17.702v0c0-0.34 0-0.34 0.34-0.681 0 0 0-0.34 0-0.34 0-0.34 0-0.34 0-0.34 0.34-0.34 0.34-0.34 0.34-0.34l0.681-0.681c0 0 0.34-0.34 0.34-0.34s0.34-0.34 0.34-0.34c0 0 0 0 0 0 0-0.34 0-0.34 0-0.34 0-0.34 0-0.34 0-0.34 0-0.34-0.34-0.34-0.34-0.34 0-0.34-0.34-0.34-0.34-0.34-0.34 0-0.34 0-0.681 0 0 0-0.34 0-0.34 0s-0.34 0-0.34 0c0 0.34-0.34 0.34-0.34 0.681 0 0 0 0.34 0 0.34v0.34h-1.362v-0.34c0-0.34 0-0.681 0.34-1.021 0-0.34 0.34-0.34 0.34-0.681 0.34-0.34 0.681-0.34 0.681-0.34 0.34-0.34 0.681-0.34 1.021-0.34s0.681 0 1.021 0.34c0.34 0 0.681 0.34 1.021 0.34 0 0.34 0.34 0.34 0.34 0.681 0.34 0.34 0.34 0.681 0.34 1.021s0 0.681-0.34 1.021c0 0-0.34 0-0.34 0.34 0 0-0.34 0.34-0.681 0.681l-0.681 0.681c0 0 0 0.34 0 0.34v0.681h-1.362v-0.34zM16 17.702v0h0.34v-0.34c0 0 0-0.34 0-0.34s0-0.34 0-0.34c0.34 0 0.34 0 0.34 0 0-0.34 0-0.34 0.34-0.34l0.34-0.34c0-0.34 0.34-0.34 0.34-0.681 0.34 0 0.34-0.34 0.34-0.34 0-0.34 0.34-0.34 0.34-0.681s0-0.681-0.34-0.681c0-0.34 0-0.681-0.34-0.681-0.34-0.34-0.34-0.34-0.681-0.34s-0.681-0.34-1.021-0.34c-0.34 0-0.34 0.34-0.681 0.34s-0.681 0-0.681 0.34c-0.34 0-0.34 0.34-0.34 0.681-0.34 0-0.34 0.34-0.34 0.681h0.681c0-0.34 0-0.34 0-0.681 0 0 0.34-0.34 0.34-0.34 0.34-0.34 0.34-0.34 0.681-0.34 0 0 0.34-0.34 0.34-0.34 0.34 0 0.681 0.34 0.681 0.34 0.34 0 0.34 0 0.681 0.34 0 0 0 0.34 0.34 0.34 0 0.34 0 0.34 0 0.681 0 0 0 0.34 0 0.34s0 0 0 0.34c-0.34 0-0.34 0-0.34 0.34 0 0-0.34 0-0.34 0.34l-0.681 0.681c0 0-0.34 0-0.34 0 0 0.34 0 0.34 0 0.34s0 0.34 0 0.34 0 0.34 0 0.681zM15.319 19.745v-1.362h1.362v1.362h-1.362zM15.66 18.723v0.681h0.681v-0.681h-0.681z')
    symbol#icon-showcase2-icon-mail(viewbox='0 0 32 32')
      title showcase2-icon-mail
      path(d='M7.077 10.923l0.808-0.808 8.615 7.385 8.615-7.385 0.808 0.808-9.423 8.077-9.423-8.077zM6.004 8c-1.107 0-2.004 0.895-2.004 1.994v12.012c0 1.101 0.89 1.994 2.004 1.994h20.993c1.107 0 2.004-0.895 2.004-1.994v-12.012c0-1.101-0.89-1.994-2.004-1.994h-20.993z')
