nav.Navigation
  .container
    a.Navigation-item.active(href='') Accommodation
    a.Navigation-item(href='') Flights
    a.Navigation-item(href='') Rental Cars
    a.Navigation-item(href='') Airport Taxis
