@mixin mq($width: "tablet") {
  @if ($width == "tablet") {
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      @content
    }
  } @else if ($width == "desktop") {
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      @content
    }
  } @else if ($width == "large") {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      @content
    }
  }
}
