$max-width: 1200px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 40px;
//
$color-navy: #083B87;
$color-blue: #01ACEE;
$color-soft-blue: #F1F6FF;
//
$font-family: 'Open Sans', Arial, sans-serif;

