$max-width: 1140px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 44px;
//
$color-navy: #083b87;
$color-blue: #01acee;
$color-soft-blue: #f1f6ff;
$color-yellow: #fbbe00;
//
$font-family: 'Open Sans', Arial, sans-serif;
$font-size: 16px;
$font-size-small: 0.9em;
$font-size-xsmall: 0.8em;
