$max-width: 1400px;
$Header-height: 68px;
$gutter: 20px;
$finger-size: 44px;
$border-radius: 3px;
$font-size: 16px;
$font-size-small: .94rem;
$font-size-medium: .95rem;
//
$color-navy: #083b87;
$color-blue: #00aced;
$color-soft-blue: #ebf0f9;
$color-yellow: #FBBE00;
//
$font-family:'Roboto', sans-serif;
