$max-width: 1140px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 44px;
//
$color-navy: #083B87;
$color-blue: #01ACEE;
$color-soft-blue: #F1F6FF;
$color-yellow: #FBBE00;
//
$font-family: 'Open Sans', Arial, sans-serif;
$font-size: 16px;
$font-size-small: .9em;