extends global/master

block content
  include component/showcase
  include component/highlights
  include component/sections1
  include component/sections2
  include component/sections3
  include component/sections4
  include component/sections5