extends global/master

block content
    include component/showcase
    include component/highlights
    include component/cards
    include component/moreDestinations
    include component/discover
    include component/aparthotels
    include component/reviews
    include component/subscribe
    include component/destinations
    include global/footer