extends global/master

block content
  include component/showcase
  include component/highlights
  include component/cards
  include component/destinations
  include component/help
  include component/discover
  include component/hotels
