body {
  font-family: $font-family;
  line-height: 1.4;
}

h1, h2, h3 {
  line-height: 1.2;
}
/*global.scss | github.com/armaganbayraktar01*/

// İçeriğin yer aldığı konteyner
.container {
  /* marginleri auto yapma sebebimiz:
  witdh değil max-width deme sebebimiz ekranın en fazla değer kadar uzamasını istememiz.
  container genişliği maksimum max-width kadar oldu ve ekran küçüldükçe buda küçülecek*/
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  }

a{
  transition: .15s;
  }
/* inputların style işlemleri */

.text, .select select, .button {
  font-family: inherit;  // kapsayıcındaki fontu kullan
  font-weight: bold;
  border: 0;
  height: $finger-size;
  border-radius: $border-radius;
  // width: 100%;
  background: $white;
}


.button { //header-menu deki button
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  color: $white;
  background-color: $noname-blue1; // tüm buton backroundları transparan yaptık

  &-icon { // menü ikonu
    color: $black;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    width: $finger-size;
    background-color: transparent;
  }

  &-full {
    width: 100%;
  }

  &-navy { //butona ekleyeceğimiz button-blue classı ile button mavi olacak
    color: $white;
    background-color: $navy-blue;
  }
}

//iconmoon dan getirdiğimiz iconlarını
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor; // biz header.scss de switch de renk atadık, custom color o rengi seçer
  fill: currentColor;
}

.text { // inputlardaki textler
  appearance: none;
  min-height: $finger-size;
  border-radius: $border-radius;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  color: $navy-blue;

    &::placeholder {
      color: rgba($navy-blue, .5);
    }
  }

    input[type=date]::-webkit-inner-spin-button, 
    input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


  .select {
    position: relative;
    color: $navy-blue;

    select {
      appearance: none;
      display: inline-block;
      width: 100%;
      padding-right: 30px;
      color: $navy-blue;
      height: $finger-size;
 
    }
  
    &-icon {
      pointer-events: none;
      z-index: 1;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

.form-item{
  position: relative;

  .form-item-icon {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    left: 10px;
    // aşağıdaki kullunımın amacı input genişlese bile ikonun yeri hep tam ortalı olacak
    top: 50%;// yüzde50 aşağı indirdik
    transform: translateY(-50%); // iconun yüksekliginin yarısı kadar y ekseninde yukarı taşıdık
    color: $navy-blue;
  }
  .text {
    padding-left: 40px;

    &:placeholder-shown {
      color: $navy-blue;
    }
  }

  .select select {
    padding-left: 40px;
  }
}
.form-description {
  margin-top: 5px;
  font-size: $font-size-small;
  @include mq("tablet") {
    margin-top: 20px;
  }
}

.form-checkbox {
  display: flex;
  align-items: center;
}

.checkbox {
  position: relative;
  display: flex;

  input { // şuan görmediğiğimiz checkbox. biz yazıya tıklayınca otomatik olarak icon gözükecek
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  &:before {
    content: "";
    display: inline-block;
    font-size: 18px;
    width: 1em;
    height: 1em;
    border: 2px solid white;
  }

  .icon {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 3px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
  }

  input:checked + .icon { // input check ise inputtan sonra gelen (+ sonra gelen demek) icon görülsün
    display: block;
  }
}



