section.Aparts
	.container
		
		h1.Aparts-title Aparthotels
		
		.Aparts-featured
			.Aparts-featured-item
				.cover(style="background-image: url(img/apart1.jpg)")
				.score
					.score-point 7.6
					.score-value Good
				.content
					a.title(href="#") Mood of Galata Suits
					.info
						span.location
							svg.icon.icon-pin
								use(xlink:href='#icon-pin')
							.location-text İstanbul, Turkey
						a.reviews(href="#") 203 reviews
					.description Offering a terrace, Mood of Galata Suites is located in İstanbul, 300 metres from Galata Tower There are many variations of passages of Lorem Ipsum available
			.Aparts-featured-item
				.cover(style="background-image: url(img/apart2.jpg)")
				.score
					.score-point 8.9
					.score-value Fabulous
				.content
					a.title(href="#") A Palace Suites
					.info
						span.location
							svg.icon.icon-pin
								use(xlink:href='#icon-pin')
							.location-text İstanbul, Turkey
						a.reviews(href="#") 442 reviews
					.description Featuring free WiFi and air conditioning, A Palace Suites is located in İstanbul, Cevahir There are many variations of passages of Lorem Ipsum available
			.Aparts-featured-item
				.cover(style="background-image: url(img/apart3.jpg)")
				.score
					.score-point 9.6
					.score-value Exceptional
				.content
					a.title(href="#") Witt Istanbul Suites
					.info
						span.location
							svg.icon.icon-pin
								use(xlink:href='#icon-pin')
							.location-text İstanbul, Turkey
						a.reviews(href="#") 232 reviews
					.description Situated in the Cihangir district, Witt İstanbul Suites offers luxurious rooms and a peaceful terrace There are many variations of passages of Lorem Ipsum available
			.Aparts-featured-item
				.cover(style="background-image: url(img/apart4.jpg)")
				.score
					.score-point 8.6
					.score-value Fabulous
				.content
					a.title(href="#") Maslak Istanbul
					.info
						span.location
							svg.icon.icon-pin
								use(xlink:href='#icon-pin')
							.location-text İstanbul, Turkey
						a.reviews(href="#") 4.563 reviews
					.description Featuring free WiFi and air conditioning, Somerset Maslak İstanbul is situated in İstanbul There are many variations of passages of Lorem Ipsum available
		a.button.aparts-button(href="#")
			.aparts-button-text Al aparthotels
			svg.icon.icon-chevron-right
				use(xlink:href='#icon-chevron-right')