section.Cards 
    .container 
        .Cards-item.active
            h5.Cards-item-title New deals listed daily -<br>for every budget!
            .Cards-item-content 
                small 
                    |No booking fees / Save money! 
                    a(href="#") <br>We Price Match
        .Cards-item
            h5.Cards-item-title 
                span 1,490,411
                |  properties
                br
                | worldwide
            .Cards-item-content 
                small 
                    | Including 829,668 holiday rentals in 121,734 destinations in 229 countries 
                    a(href="#") List your property 
        .Cards-item
            h5.Cards-item-title Make changes to your booking, anytime
            .Cards-item-content 
                small 
                    | You can make changes, 
                    a(href="#") send a request or cancel 
                    | in just a few clicks 
