.Cards
  .container
    .Cards-card
        h4.title New deals listed daily - for every budget!
        span.info No booking fees / Save money!
        a.card-link(href="") We Price Match
    .Cards-card
        h4.title 1,490,411 properties worldwide
        span.info Including 829,668 holiday rentals in 121,734 destinations in 229 countries
        a.card-link(href="") List your property
    .Cards-card
        h4.title Make changes to your booking, anytime
        span.info You can make changes,
        a.card-link(href="") Send a request or cancel