section.Reviews 
    .container.header
        h1.index-title Destinations we love
    .container.button-large
        .btn.active Regions
        .btn Cities
        .btn Places of interest
    .container.Rev-item
        .Reviews-item 
            h4.Reviews-item-title Edinburgh 
            .Reviews-item-subtitle 
                small 283,435 hotel reviews
        .Reviews-item 
            h4.Reviews-item-title Barcelona 
            .Reviews-item-subtitle 
                small 1,000,938 hotel reviews
        .Reviews-item 
            h4.Reviews-item-title Sydney 
            .Reviews-item-subtitle 
                small 309,780 hotel reviews
        .Reviews-item 
            h4.Reviews-item-title Sydney 
            .Reviews-item-subtitle 
                small 309,780 hotel reviews
        .Reviews-item 
            h4.Reviews-item-title Sydney 
            .Reviews-item-subtitle 
                small 309,780 hotel reviews
        .Reviews-item 
            h4.Reviews-item-title Bristol 
            .Reviews-item-subtitle 
                small 74,345 hotel reviews
        .Reviews-item 
            h4.Reviews-item-title Rome 
            .Reviews-item-subtitle 
                small 1,222,001 hotel reviews
        .Reviews-item 
            h4.Reviews-item-title Manchester
            .Reviews-item-subtitle 
                small 194,347 hotel reviews
        .Reviews-item 
            h4.Reviews-item-title Manchester
            .Reviews-item-subtitle 
                small 194,347 hotel reviews
        .Reviews-item 
            h4.Reviews-item-title Manchester
            .Reviews-item-subtitle 
                small 194,347 hotel reviews
        