.Destination
  h1.Heading More Destinations
  .container
    .Destination-Card
      img.Destination-Card-Img(src="http://via.placeholder.com/100x100")
      .Destination-Card-Content
        h4.title   Playa d'en Bossa
        span.location Spain
        span.sign
        span.info
    .Destination-Card
      img.Destination-Card-Img(src="http://via.placeholder.com/100x100")
      .Destination-Card-Content
        h4.title Santa Eularia des Rui
        span.location Spain
        span.sign
        span.info
    .Destination-Card
      img.Destination-Card-Img(src="http://via.placeholder.com/100x100")
      .Destination-Card-Content
        h4.title Istanbul
        span.location Turkey
        span.sign
        span.info
    .Destination-Card
      img.Destination-Card-Img(src="http://via.placeholder.com/100x100")
      .Destination-Card-Content
        h4.title Barcelona
        span.location Spain
        span.sign
        span.info
    .Destination-Card
      img.Destination-Card-Img(src="http://via.placeholder.com/100x100")
      .Destination-Card-Content
        h4.title Vienna
        span.location Austria
        span.sign
        span.info
    .Destination-Card
      .Show-All
        h4  Show All Destinations