Section.Destination 
  .container
     .Destination-Title  More destinations
     .Destination-Items
        .item  
            .item-img
               img(src="http://www.heryerdentatil.com/resimler/yel-holiday-resort/buyuk/yel-holiday-resort-1.jpg", alt="")
            .item-description
              h4 Playa d'den Bossa
              .item-location
                  i.fa.fa-map-marker
                  span Spain
                  span.speacial-one TOP        
              .item-tag 
                  a(href='') 24 appartments,
                  a(href='') 10 aparthotels,
                  a(href='') 2 villas   
                  hr
            .item-arrow
                a(href="") 
                  i.fa.fa-angle-right 

        .item  
            .item-img
               img(src="http://www.australia.com/content/australia/en/facts-and-planning/working-holiday-visa-faq/_jcr_content/mainParsys/atdwmini/category1/image/file.adapt.404.medium.jpg", alt="")
            .item-description
              h4 Santa Eularia des Rui
              .item-location
                  i.fa.fa-map-marker
                  span Spain
                  span.speacial-one.blue
                    i.fa.fa-plane
                         
              .item-tag 
                  a(href='') 37 villas,
                  a(href='') 21 apartments,
                  a(href='') 6 quest houses,
                  a(href='') 5 aparhotels
                  hr    
            .item-arrow
                a(href="") 
                  i.fa.fa-angle-right
        .item  
            .item-img
               img(src="https://www.turkeyhomes.com/uploads/blogs/MaidenTower.jpg", alt="")
            .item-description
              h4 İstanbul
              .item-location
                  i.fa.fa-map-marker
                  span Turkey 
                  span.speacial-one TOP     
                  span.speacial-one.blue
                    i.fa.fa-plane
                         
              .item-tag 
                  a(href='') 476 apartments,
                  a(href='') 243 aparthotels,
                  a(href='') 56 bed and breakfast,  
                  a(href='') 54 hotels
                  hr    
            .item-arrow
                a(href="") 
                  i.fa.fa-angle-right

        .item  
            .item-img
               img(src="http://1hu9t72zwflj44abyp2h0pfe-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/httpwww.globo-rojo.comwp-contentuploadspark-guell-view-barcelona.jpg.jpg", alt="")
            .item-description
              h4 Barcelona
              .item-location
                  i.fa.fa-map-marker
                  span Spain
                  span.speacial-one TOP     
                  span.speacial-one.blue
                    i.fa.fa-plane   
              .item-tag 
                  a(href='') 1944 apartments,
                  a(href='') 259 aparthotels,
                  a(href='') 11 bed and breakfast,  
                  a(href='') 53 hotels
                  hr
            .item-arrow
                a(href="") 
                  i.fa.fa-angle-right 

        .item  
            .item-img
               img(src="http://www.pragueweddingagency.com/Public2015/Images/PhotogalleryPhotos/thumb/800/531/0-/weddings-in-slovakia-weddings-in-slovakia-hotel-albrecht--370.jpg", alt="")
            .item-description
              h4 Vienna
              .item-location
                  i.fa.fa-map-marker
                  span Austria
                  span.speacial-one TOP     
                  span.speacial-one.blue
                    i.fa.fa-plane
                         
              .item-tag 
                 a(href='')  1171 apartments,
                  a(href='') 44 aparthotels,
                  a(href='') 38 bed and breakfast,  
                  a(href='') 34 hotels
                  hr    
            .item-arrow
                a(href="") 
                  i.fa.fa-angle-right
        a.item.blue-button
           span Show me all destination
           i.fa.fa-angle-right
            
              