.Discover
  h1.Heading Discover
  .container
    .Discover-Card
      .Discover-Card-Content
        h4.title   United States
        span.info Enjoy relaxation, shopping and restaurants during your nex trip to USA!
    .Discover-Card
      .Discover-Card-Content
        h4.title   Italy
        span.info Enjoy food, scenery and relaxation during your next trip to Italy!
    .Discover-Card
      .Discover-Card-Content
        h4.title   France
        span.info Put tranquility, scenery and old town on your to-do list during your next visit to France!
    .Discover-Card.Discover-Card-More
      .Discover-Card-Content
        h4.title  More