section.Discover 
    .container 
        h1.index-title Discover
    .container.discover 
        .Discover-item(style="background: url('https://picsum.photos/id/1029/600/400.jpg') center center / cover no-repeat;") 
            .Discover-item-content 
                h2.Discover-item-title United States 
                .Discover-item-subtitle
                    p.medium Enjoy relaxation, shopping and restaurants during your next trip to USA!
        .Discover-item(style="background: url('https://picsum.photos/id/1036/600/400.jpg') center center / cover no-repeat;") 
            .Discover-item-content
                h2.Discover-item-title Italy
                .Discover-item-subtitle
                    p.medium Enjoy food, scenery and relaxation during your next trip to Italy!
        .Discover-item(style="background: url('https://picsum.photos/id/1067/600/400.jpg') center center / cover no-repeat;") 
            .Discover-item-content
                h2.Discover-item-title France
                .Discover-item-subtitle
                    p.medium Put tranquility, scenery and old town on your to-do list during your next visit to France!
        .Discover-item
            .Discover-item-content 
                h2.Discover-item-title More
                .Discover-item-subtitle
                    p.medium Put tranquility, scenery and old town on your to-do list during your next visit to France!
                .icon-right
                    svg.icon.icon-icon-right
                        use(xlink:href='#icon-icon-right')