.Help
  .container
    .Help-Card
        svg.icon.icon-bubbles3.help-item-icon
          use(xlink:href='#icon-bubbles3')
        .Help-Card-Content
          h4.title 131,130,000 reviews
          span.info Real guests. Real stays. Real opinions to help you make ther right choice.
    .Help-Card
        svg.icon.icon-lifebuoy.help-item-icon
          use(xlink:href='#icon-lifebuoy')
        .Help-Card-Content
          h4.title We're here to help 24/7
          span.info Find answers, manage your booking and more in our 
          a.card-link(href="") Help Centre