section.Highlights
  .container
    .Highlights-slider
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra