section.Highlights 
    .container 
        .Highlights-slider 
            .Highlights-item
                .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1526893381913-e311045b8064?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=80);")
                    .content 
                        h4.title Paris
                        .tag 
                            h5.tag-title Top reasons to visit: 
                            .tag-list
                                a.tag-item(href="#") museums
                                a.tag-item(href="#") sightseeing
                                a.tag-item(href="#") culture
                        .price-label 
                            span price from 
                            | $ 2,500
                .Highlights-item-extra
                    .content 
                        h4.title Still planning a trip to Paris?
                        .icon 
                            svg.icon.icon-calendar(aria-hidden='true')
                                use(xlink:href='#icon-calendar')
                        span.date 23 Oct - 24 Oct
                        span.details 1 room, 2 adults
                        .button-details.button 
                            a(href="#") View properties
            .Highlights-item
                .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1624219873066-43d2a7147753?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);")
                    .content 
                        h4.title San Antonio Bay
                        .tag 
                            h5.tag-title Top reasons to visit: 
                            .tag-list
                                a.tag-item(href="#") sunsets
                                a.tag-item(href="#") beaches
                                a.tag-item(href="#") nightlife
                        .price-label 
                            span price from 
                            | $ 2,596
                .Highlights-item-extra
                    .content 
                        h4.title Still planning a trip to Paris?
                        .icon 
                            svg.icon.icon-calendar(aria-hidden='true')
                                use(xlink:href='#icon-calendar')
                        span.date 23 Oct - 24 Oct
                        span.details 1 room, 2 adults
                        .button-details.button 
                            a(href="#") View properties
            .Highlights-item
                .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1585567512124-dbfaa0e7eee5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);")
                    .content 
                        h4.title Ibiza Town
                        .tag 
                            h5.tag-title Top reasons to visit: 
                            .tag-list
                                a.tag-item(href="#") museums
                                a.tag-item(href="#") sightseeing
                                a.tag-item(href="#") culture
                        .price-label 
                            span price from 
                            | $ 3,006
                .Highlights-item-extra
                    .content 
                        h4.title Still planning a trip to Paris?
                        .icon 
                            svg.icon.icon-calendar(aria-hidden='true')
                                use(xlink:href='#icon-calendar')
                        span.date 23 Oct - 24 Oct
                        span.details 1 room, 2 adults
                        .button-details.button 
                            a(href="#") View properties
            .Highlights-item
                .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1582719508461-905c673771fd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);")
                    .content 
                        h4.title Paris
                        .tag 
                            h5.tag-title Top reasons to visit: 
                            .tag-list
                                a.tag-item(href="#") museums
                                a.tag-item(href="#") sightseeing
                                a.tag-item(href="#") culture
                        .price-label 
                            span price from 
                            | $ 2,500
                .Highlights-item-extra
                    .content 
                        h4.title Still planning a trip to Paris?
                        .icon 
                            svg.icon.icon-calendar(aria-hidden='true')
                                use(xlink:href='#icon-calendar')
                        span.date 23 Oct - 24 Oct
                        span.details 1 room, 2 adults
                        .button-details.button 
                            a(href="#") View properties
            .Highlights-item
                .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1582719508461-905c673771fd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);")
                    .content 
                        h4.title Paris
                        .tag 
                            h5.tag-title Top reasons to visit: 
                            .tag-list
                                a.tag-item(href="#") museums
                                a.tag-item(href="#") sightseeing
                                a.tag-item(href="#") culture
                        .price-label 
                            span price from 
                            | $ 2,500
                .Highlights-item-extra
                    .content 
                        h4.title Still planning a trip to Paris?
                        .icon 
                            svg.icon.icon-calendar(aria-hidden='true')
                                use(xlink:href='#icon-calendar')
                        span.date 23 Oct - 24 Oct
                        span.details 1 room, 2 adults
                        .button-details.button 
                            a(href="#") View properties
                
