section.Highlights
  .container
    .Highlights-slider
      .Highlights-item
        .Highlights-item-show(style="background-image: url(img/highlights1.jpg);")
          .show-span
            .span-item
              p.item-normal price from
              p.item-bold €2,596
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra
          .content
            h4.extra-title Still planning a trip to Paris?
            .extra-item
              .item-icon
                svg.icon.icon-calendar
                  use(xlink:href='#icon-calendar')
              .item-desc
                p.desc-p #[strong 23 Oct - 24 Oct]
                p.desc-p-normal 1 room, 2 adults
            .show-desc-button 
            button.button.button(type='button', name='button') View Properties
      .Highlights-item
        .Highlights-item-show(style="background-image: url(img/highlights2.jpg);")
          .show-span
            .span-item
              p.item-normal price from
              p.item-bold €2,596
          .content
            h4.title San Antonio Bay
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") Sunset
                a.tag-item(href="") Beaches
                a.tag-item(href="") Nightlife
        .Highlights-item-extra
          .content
            h4.extra-title Still planning a trip to San Antonio Bay?
            .extra-item
              .item-icon
                svg.icon.icon-calendar
                  use(xlink:href='#icon-calendar')
              .item-desc
                p.desc-p #[strong 23 Oct - 24 Oct]
                p.desc-p-normal 1 room, 2 adults
            .show-desc-button 
            button.button.button(type='button', name='button') View Properties
      .Highlights-item
        .Highlights-item-show(style="background-image: url(img/highlights3.jpg);")
          .show-span
            .span-item
              p.item-normal price from
              p.item-bold €2,596
          .content
            h4.title Ibiza Town
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") sunset
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") beaches
        .Highlights-item-extra
          .content
            h4.extra-title Still planning a trip to Ibiza Town?
            .extra-item
              .item-icon
                svg.icon.icon-calendar
                  use(xlink:href='#icon-calendar')
              .item-desc
                p.desc-p #[strong 23 Oct - 24 Oct]
                p.desc-p-normal 1 room, 2 adults
            .show-desc-button 
            button.button.button(type='button', name='button') View Properties
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .show-span
            .span-item
              p.item-normal price from
              p.item-bold €2,596
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra
          .content
            h4.extra-title Still planning a trip to Paris?
            .extra-item
              .item-icon
                svg.icon.icon-calendar
                  use(xlink:href='#icon-calendar')
              .item-desc
                p.desc-p #[strong 23 Oct - 24 Oct]
                p.desc-p-normal 1 room, 2 adults
            .show-desc-button 
            button.button.button(type='button', name='button') View Properties
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .show-span
            .span-item
              p.item-normal price from
              p.item-bold €2,596
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra
          .content
            h4.extra-title Still planning a trip to Paris?
            .extra-item
              .item-icon
                svg.icon.icon-calendar
                  use(xlink:href='#icon-calendar')
              .item-desc
                p.desc-p #[strong 23 Oct - 24 Oct]
                p.desc-p-normal 1 room, 2 adults
            .show-desc-button 
            button.button.button(type='button', name='button') View Properties