.Hotels
  h1.Heading Aparthotels
  .container
    .Hotels-Card
      img.Hotels-Card-Img(src="http://via.placeholder.com/220x160")
      .score
        h4.points 7.6
        span.overall good
      .Hotels-Card-Content
        h4.title   Mood of Galata Suites
        span.location Istanbul, Turkey
        span.info Offering a terrace, Mood of Galata Suites is located in Istanbul, 300 meters from Galata Tower...
    .Hotels-Card
      img.Hotels-Card-Img(src="http://via.placeholder.com/220x160")
      .score
        h4.points 7.6
        span.overall good
      .Hotels-Card-Content
        h4.title   A Palace Suites
        span.location Istanbul, Turkey
        span.info Offering a terrace, Mood of Galata Suites is located in Istanbul, 300 meters from Galata Tower...
    .Hotels-Card
      img.Hotels-Card-Img(src="http://via.placeholder.com/220x160")
      .score
        h4.points 7.6
        span.overall good
      .Hotels-Card-Content
        h4.title   Witt Istanbul Suites
        span.location Istanbul, Turkey
        span.info Offering a terrace, Mood of Galata Suites is located in Istanbul, 300 meters from Galata Tower...
    .Hotels-Card
      img.Hotels-Card-Img(src="http://via.placeholder.com/220x160")
      .score
        h4.points 7.6
        span.overall good
      .Hotels-Card-Content
        h4.title   Maslak Istanbul
        span.location Istanbul, Turkey
        span.info Offering a terrace, Mood of Galata Suites is located in Istanbul, 300 meters from Galata Tower...
  button.button.button-navy.button-hotels(type='button')
            | All Aparthotels