section.Destinations
    .container
        h1.index-title More destinations
    .container.destinations
        .Destinations-item 
            .Destinations-item-img(style="background: url(https://images.unsplash.com/photo-1534001265532-393289eb8ed3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJhcmNlbG9uYSUyMHNwYWlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) center center / cover no-repeat;")
            .Destinations-item-content 
                h5.title Playa d'en Bossa
                .subtitle
                    .icon 
                        svg.icon.icon-location
                            use(xlink:href='#icon-location') 
                    h6.subtitle Spain 
                    .icon-top TOP 
                .Destinations-item-content-tags 
                    a(href="#") 24 apartments
                    a(href="#") 10 aparthotels
                    a(href="#") 2 villas
                .icon-right
                    svg.icon.icon-icon-right
                        use(xlink:href='#icon-icon-right')
        .Destinations-item 
            .Destinations-item-img(style="background: url(https://images.unsplash.com/photo-1464790719320-516ecd75af6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJhcmNlbG9uYSUyMHNwYWlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) center center / cover no-repeat;")
            .Destinations-item-content 
                h5.title Santa Eularia des Riu
                .subtitle
                    .icon 
                        svg.icon.icon-location
                            use(xlink:href='#icon-location') 
                    h6.subtitle Spain 
                    .icon-airplane 
                        svg.icon.icon-airplane
                            use(xlink:href='#icon-airplane')
                .Destinations-item-content-tags 
                    a(href="#") 37 villas
                    a(href="#") 21 apartments
                    a(href="#") 6 guest houses
                    a(href="#") 5 aparthotels
                .icon-right
                    svg.icon.icon-icon-right
                        use(xlink:href='#icon-icon-right')
        .Destinations-item 
            .Destinations-item-img(style="background: url(https://images.unsplash.com/photo-1589656340187-81efdd4a0505?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dHVya2V5fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60) center center / cover no-repeat;")
            .Destinations-item-content 
                h5.title Istanbul
                .subtitle
                    .icon 
                        svg.icon.icon-location
                            use(xlink:href='#icon-location') 
                    h6.subtitle Turkey 
                    .icon-top TOP
                    .icon-airplane 
                        svg.icon.icon-airplane
                            use(xlink:href='#icon-airplane')
                .Destinations-item-content-tags 
                    a(href="#") 476 apartments
                    a(href="#") 243 aparthotels
                    a(href="#") 56 bed and breakfasts
                    a(href="#") 54 hostels
                .icon-right
                    svg.icon.icon-icon-right
                        use(xlink:href='#icon-icon-right')
        .Destinations-item 
            .Destinations-item-img(style="background: url(https://images.unsplash.com/photo-1578912996078-305d92249aa6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJhcmNlbG9uYXxlbnwwfDB8MHx8&auto=format&fit=crop&w=800&q=60) center center / cover no-repeat;")
            .Destinations-item-content 
                h5.title Barcelona
                .subtitle
                    .icon 
                        svg.icon.icon-location
                            use(xlink:href='#icon-location') 
                    h6.subtitle Spain 
                    .icon-top TOP
                    .icon-airplane 
                        svg.icon.icon-airplane
                            use(xlink:href='#icon-airplane')
                .Destinations-item-content-tags 
                    a(href="#") 1944 apartments
                    a(href="#") 259 guest houses
                    a(href="#") 111 hostels
                    a(href="#") 53 bed and breakfasts
                .icon-right
                    svg.icon.icon-icon-right
                        use(xlink:href='#icon-icon-right')
        .Destinations-item 
            .Destinations-item-img(style="background: url(https://images.unsplash.com/photo-1504019347908-b45f9b0b8dd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3BhaW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) center center / cover no-repeat;")
            .Destinations-item-content 
                h5.title Vienna
                .subtitle
                    .icon 
                        svg.icon.icon-location
                            use(xlink:href='#icon-location') 
                    h6.subtitle Austria
                    .icon-top TOP
                    .icon-airplane 
                        svg.icon.icon-airplane
                            use(xlink:href='#icon-airplane')
                .Destinations-item-content-tags 
                    a(href="#") 1171 apartments
                    a(href="#") 44 guest houses
                    a(href="#") 38 aparthotels
                    a(href="#") 34 bed and breakfasts
                .icon-right
                    svg.icon.icon-icon-right
                        use(xlink:href='#icon-icon-right')
        .Destinations-item 
            button.button.Destinations-item-button Show me all destinations
                svg.icon.icon-icon-right
                    use(xlink:href='#icon-icon-right')
    .container.extra 
        .extra-cards
            .extra-cards-logo 
                img(src="./img/reviews.svg" alt="" aria-hidden="true")
            .extra-cards-content
                h5.item-title 
                    span 131,130,000 
                    | reviews
                p.item-text Real guests. Real stays. Real opinions to help you make the right choice.
        .extra-cards
            .extra-cards-logo
                p ? 
                svg.icon.icon-lifebuoy(aria-hidden='true')
                    use(xlink:href='#icon-lifebuoy')
            .extra-cards-content
                h5.item-title We're here to help 
                    span 24/7
                p.item-text Find answers, manage your booking and more in our 
                    a(href="#") Help Centre

