.Reviews
  h1.Heading Still deciding where to stay ?
  .Reviews-container
    .Reviews-description We want to make your decision easier! With over 131,150,000 verified guest reviews, we can help you find the perfect place to stay.
    .buttons-container
      button.button.button-navy.button-review-hotel(type='button')
        | Hotel reviews
      button.button.button-white.button-review-bb(type='button')
        | B&B & inn reviews
      button.button.button-white.button-review-holiday(type='button')
        | Holiday rental reviews
    .Reviews-locations-container
      .Reviews-location
        h4.title Edinburgh
        span.reviews 283,435 hotel reviews
      .Reviews-location
        h4.title Barcelona
        span.reviews 1,000,345 hotel reviews
      .Reviews-location
        h4.title Sydney
        span.reviews 405,054 hotel reviews
      .Reviews-location
        h4.title Rome
        span.reviews 74,342 hotel reviews
      .Reviews-location
        h4.title Manchester
        span.reviews 1,222,558 hotel reviews
      .Reviews-location
        h4.title Rome
        span.reviews 74,342 hotel reviews
      .Reviews-location
        h4.title Manchester
        span.reviews 1,222,558 hotel reviews
      .Reviews-location
        h4.title Edinburgh
        span.reviews 283,435 hotel reviews
      .Reviews-location
        h4.title Barcelona
        span.reviews 1,000,345 hotel reviews
      .Reviews-location
        h4.title Sydney
        span.reviews 405,054 hotel reviews