section.Sections
  .container
    .Sections-item
      .Sections-item-box
        .content
          h2.title New deals listed daily for every budget
          .box-desc
            p.desc-p No booking fees / Save money!
            a.desc-link(href="") We Price Match
      .Sections-item-box
        .content
          h2.title 1,490,411 properties worldwide
          .box-desc
            p.desc-p
              | Including 829,668 holiday rentals in 121,734 destinations in 229 countiries 
              a.desc-link(href="") List your properties.
      .Sections-item-box
          .content
            h2.title Make changes to your booking, anytime
            .box-desc
              p.desc-p
                | You can make changes,
                a.desc-link(href='')  send a request or cancel 
                | in just a few clicks

