section.Sections4
  .container
    h1.Sections4-title Discover
    .Highlights-slider
      .Sections4-item
        .Sections4-item-show(style="background-image: url(img/sections41.jpg);")
          .content
            .content-main
              h4.content-main-title United States
              p.content-main-desc Enjoy relaxation, shopping and restuarants during your next trip to USA!
      .Sections4-item
        .Sections4-item-show(style="background-image: url(img/sections42.jpg);")
          .content
            .content-main
              h4.content-main-title Italy
              p.content-main-desc Enjoy food, scenery and relaxation during your next trip to Italy!
      .Sections4-item
        .Sections4-item-show(style="background-image: url(img/sections43.jpg);")
          .content
            .content-main
              h4.content-main-title France
              p.content-main-desc Put tranquility, scenery and old town on your to-do list during your next visit to France
      .Sections4-button
        .Sections4-item-show(style="")
          .content
            .content-main
              h4.content-main-title More
              p.content-main-desc Put tranquility, scenery and old town on your to-do list during your next visit to ...