section.Sections5
  .container
    h1.Sections5-title Aparthotels
    .Highlights-slider
      .Sections5-box
        .Sections5-box-img(style="background-image: url(img/Sections51.jpg);")
          .Sections5-box-item-content-label
            p.label
            em.Sections5-box-item-content-label-em 7.6 
            | good
        .Sections5-box-item
          .Sections5-box-item-content
              h4.Sections5-box-item-content-title Mood of Galata Suites
              .Sections5-box-item-content-main 
                .Sections5-box-item-content-main-icon-location      
                  svg.icon.icon-location
                    use(xlink:href='#icon-location')
                .Sections5-box-item-content-main-icon-desc
                  a.Sections5-box-item-content-main-desc(href="") Istanbul, 
                  a.Sections5-box-item-content-main-desc(href="") Turkey
                  a.Sections5-box-item-content-main-desc2(href="") 203 Reviews
              .Sections5-box-item-content-description
                  p.Sections5-box-item-content-description-item Offering a terrace, Mood of Galata Suites in İstanbul, 300 metres from Galata Tower ...
      .Sections5-box
        .Sections5-box-img(style="background-image: url(img/Sections52.jpg);")
          .Sections5-box-item-content-label
            p.label
            em.Sections5-box-item-content-label-em 8.9  
            | fabulous
        .Sections5-box-item
          .Sections5-box-item-content
              h4.Sections5-box-item-content-title A Palace Suites
              .Sections5-box-item-content-main 
                .Sections5-box-item-content-main-icon-location      
                  svg.icon.icon-location
                    use(xlink:href='#icon-location')
                .Sections5-box-item-content-main-icon-desc
                  a.Sections5-box-item-content-main-desc(href="") Istanbul, 
                  a.Sections5-box-item-content-main-desc(href="") Turkey
                  a.Sections5-box-item-content-main-desc2(href="") 442 Reviews
              .Sections5-box-item-content-description
                  p.Sections5-box-item-content-description-item Featuring free WiFi and air conditioning, A Palace Suites is located in İstanbul, Cevahir ...
      .Sections5-box
        .Sections5-box-img(style="background-image: url(img/Sections53.jpg);")
          .Sections5-box-item-content-label
            p.label
            em.Sections5-box-item-content-label-em 9.6 
            | exceptional
        .Sections5-box-item
          .Sections5-box-item-content
              h4.Sections5-box-item-content-title Witt Istanbul Suites
              .Sections5-box-item-content-main 
                .Sections5-box-item-content-main-icon-location      
                  svg.icon.icon-location
                    use(xlink:href='#icon-location')
                .Sections5-box-item-content-main-icon-desc
                  a.Sections5-box-item-content-main-desc(href="") Istanbul, 
                  a.Sections5-box-item-content-main-desc(href="") Turkey
                  a.Sections5-box-item-content-main-desc2(href="") 232 Reviews
              .Sections5-box-item-content-description
                  p.Sections5-box-item-content-description-item Situated in the Cihangir district, Witt Istanbul Suites offers luxurious rooms and peaceful terrace ...
      .Sections5-box
        .Sections5-box-img(style="background-image: url(img/Sections54.jpg);")
          .Sections5-box-item-content-label
            p.label
            em.Sections5-box-item-content-label-em 8.6 
            | fabulous
        .Sections5-box-item
          .Sections5-box-item-content
              h4.Sections5-box-item-content-title Maslak Istanbul
              .Sections5-box-item-content-main 
                .Sections5-box-item-content-main-icon-location      
                  svg.icon.icon-location
                    use(xlink:href='#icon-location')
                .Sections5-box-item-content-main-icon-desc
                  a.Sections5-box-item-content-main-desc(href="") Istanbul, 
                  a.Sections5-box-item-content-main-desc(href="") Turkey
                  a.Sections5-box-item-content-main-desc2(href="") 4,563 Reviews
              .Sections5-box-item-content-description
                  p.Sections5-box-item-content-description-item Featuring free WiFi and air conditioning, Somerset Maslak Istanbul situaded in İstanbul ...
    .Sections5-main
      .sections5-button
        p.Sections5-button-title All aparthotels
        .Sections5-button-icon
          svg.icon.icon-arrow_right
            use(xlink:href='#icon-arrow_right')