section.Sections3
  .container
    .Sections3-main
      .Sections3-box
        .Sections3-box-img
          svg.icon.icon-selections3-comment-icon
            use(xlink:href='#icon-selections3-comment-icon')
        .Sections3-box-item
          .Sections3-box-item-content
              h2.Sections3-box-item-content-title 131,130,000
              h2.Sections3-box-item-content-subtitle reviews
              .Sections3-box-item-content-main 
                p.Sections3-box-item-content-main-desc Real guest. Real stays. Real opinions to help you make the right choice.
      .Sections3-box
        .Sections3-box-img
          svg.icon.icon-selections3-help-icon
            use(xlink:href='#icon-selections3-help-icon')
        .Sections3-box-item
          .Sections3-box-item-content
              h2.Sections3-box-item-content-subtitle We're here to help
              h2.Sections3-box-item-content-title 24/7
              .Sections3-box-item-content-main 
                p.Sections3-box-item-content-main-desc
                  | Find answers, manage your booking and more in our 
                  a.Sections3-box-item-content-main-link(href='') Help Centre.