section.Sections1
  .container
    .Sections1-main
      .Sections1-box
        .Sections1-box-item
          .Sections1-box-item-content
            h2.Sections1-box-item-content-title New deals listed daily for every budget
            .Sections1-box-item-content-main
              p.Sections1-box-item-content-main-desc No booking fees / Save money!
            a.Sections1-box-item-content-main-link(href="") We Price Match
      .Sections1-box
        .Sections1-box-item
          .Sections1-box-item-content
            h2.Sections1-box-item-content-title 1,490,411 properties worldwide
            .Sections1-box-item-content-main
              p.Sections1-box-item-content-main-desc
                | Including 829,668 holiday rentals in 121,734 destinations in 229 countiries 
                a.Sections1-box-item-content-main-link(href="") List your properties.
      .Sections1-box
        .Sections1-box-item
          .Sections1-box-item-content
            h2.Sections1-box-item-content-title Make changes to your booking, anytime
            .Sections1-box-item-content-main
              p.Sections1-box-item-content-main-desc
                | You can make changes, 
                a.Sections1-box-item-content-main-link(href="") send a request or cancel 
                | in just a few clicks