section.Sections7
  .container
    .Sections7-head
        h1.Sections7-head-title Destinations we love
    .Sections7-tabmenu
        .Sections7-tabmenu-button-main
          a.Sections7-tabmenu-button-main-link(href='#') Regions
          a.Sections7-tabmenu-button-main-link(href='#') Cities
          a.Sections7-tabmenu-button-main-link(href='#') Places of interest
        .Sections7-tabmenu-button-content
          .Sections7-tabmenu-button-content-main
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Edinburgh
              p.Sections7-tabmenu-button-content-main-item-desc 283,485 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Barcelona
              p.Sections7-tabmenu-button-content-main-item-desc 900,938 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Sydney
              p.Sections7-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') İzmir
              p.Sections7-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') London
              p.Sections7-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Bristol
              p.Sections7-tabmenu-button-content-main-item-desc 74,345 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Rome
              p.Sections7-tabmenu-button-content-main-item-desc 122,001 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Manchester
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') İstanbul
              p.Sections7-tabmenu-button-content-main-item-desc 894,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Milano
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Amsterdam
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Dublin
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
        .Sections7-tabmenu-button-content
          .Sections7-tabmenu-button-content-main
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Edinburgh
              p.Sections7-tabmenu-button-content-main-item-desc 283,485 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Barcelona
              p.Sections7-tabmenu-button-content-main-item-desc 900,938 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Sydney
              p.Sections7-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') İzmir
              p.Sections7-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') London
              p.Sections7-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Bristol
              p.Sections7-tabmenu-button-content-main-item-desc 74,345 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Rome
              p.Sections7-tabmenu-button-content-main-item-desc 122,001 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Manchester
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') İstanbul
              p.Sections7-tabmenu-button-content-main-item-desc 894,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Milano
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Amsterdam
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Dublin
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
        .Sections7-tabmenu-button-content
          .Sections7-tabmenu-button-content-main
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Edinburgh
              p.Sections7-tabmenu-button-content-main-item-desc 283,485 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Barcelona
              p.Sections7-tabmenu-button-content-main-item-desc 900,938 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Sydney
              p.Sections7-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') İzmir
              p.Sections7-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') London
              p.Sections7-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Bristol
              p.Sections7-tabmenu-button-content-main-item-desc 74,345 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Rome
              p.Sections7-tabmenu-button-content-main-item-desc 122,001 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Manchester
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') İstanbul
              p.Sections7-tabmenu-button-content-main-item-desc 894,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Milano
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Amsterdam
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections7-tabmenu-button-content-main-item
              a.Sections7-tabmenu-button-content-main-item-title(href='#') Dublin
              p.Sections7-tabmenu-button-content-main-item-desc 194,347 reviews

