section.Sections2
  .container
    h1.Sections2-title More destinations
    .Sections2-main
      .Sections2-box
        .Sections2-box-img(style="background-image: url(img/sections21.jpg);")
        .Sections2-box-item
          .Sections2-box-item-content
             h4.Sections2-box-item-content-title Playa d'en Bossa
             .Sections2-box-item-content-main 
              .Sections2-box-item-content-main-icon-location      
                svg.icon.icon-location
                  use(xlink:href='#icon-location')
              a.Sections2-box-item-content-main-desc(href="") Spain
              .Sections2-box-item-content-main-label
                p.label TOP
              .Sections2-box-item-content-main-airplane
                .icon-airplane
                  svg.icon.icon-airplane
                    use(xlink:href='#icon-airplane')
             .Sections2-box-item-content-tag
              a.Sections2-box-item-content-tag-item(href="") 24 apartments,
              a.Sections2-box-item-content-tag-item(href="") 10 apart,
              a.Sections2-box-item-content-tag-item(href="") 2 villas,
              a.Sections2-box-item-content-tag-item(href="") 34 bed and breakfast 
          .Sections2-box-item-arrow
            svg.icon.icon-arrow_right
              use(xlink:href='#icon-arrow_right')
      .Sections2-box
        .Sections2-box-img(style="background-image: url(img/sections22.jpg);")
        .Sections2-box-item
          .Sections2-box-item-content
             h4.Sections2-box-item-content-title S. Eularia des Riu
             .Sections2-box-item-content-main 
              .Sections2-box-item-content-main-icon-location      
                svg.icon.icon-location
                  use(xlink:href='#icon-location')
              a.Sections2-box-item-content-main-desc(href="") Spain
              .Sections2-box-item-content-main-label
                p.label TOP
              .Sections2-box-item-content-main-airplane
                .icon-airplane
                  svg.icon.icon-airplane
                    use(xlink:href='#icon-airplane')
             .Sections2-box-item-content-tag
              a.Sections2-box-item-content-tag-item(href="") 24 apartments,
              a.Sections2-box-item-content-tag-item(href="") 10 apart,
              a.Sections2-box-item-content-tag-item(href="") 2 villas,
              a.Sections2-box-item-content-tag-item(href="") 34 bed and breakfast 
          .Sections2-box-item-arrow
            svg.icon.icon-arrow_right
              use(xlink:href='#icon-arrow_right')
      .Sections2-box
        .Sections2-box-img(style="background-image: url(img/sections23.jpg);")
        .Sections2-box-item
          .Sections2-box-item-content
             h4.Sections2-box-item-content-title İstanbul
             .Sections2-box-item-content-main 
              .Sections2-box-item-content-main-icon-location      
                svg.icon.icon-location
                  use(xlink:href='#icon-location')
              a.Sections2-box-item-content-main-desc(href="") Turkey
              .Sections2-box-item-content-main-label
                p.label TOP
              .Sections2-box-item-content-main-airplane
                .icon-airplane
                  svg.icon.icon-airplane
                    use(xlink:href='#icon-airplane')
             .Sections2-box-item-content-tag
              a.Sections2-box-item-content-tag-item(href="") 24 apartments,
              a.Sections2-box-item-content-tag-item(href="") 10 apart,
              a.Sections2-box-item-content-tag-item(href="") 2 villas,
              a.Sections2-box-item-content-tag-item(href="") 34 bed and breakfast 
          .Sections2-box-item-arrow
            svg.icon.icon-arrow_right
              use(xlink:href='#icon-arrow_right')
      .Sections2-box
        .Sections2-box-img(style="background-image: url(img/sections24.jpg);")
        .Sections2-box-item
          .Sections2-box-item-content
             h4.Sections2-box-item-content-title Barcelona
             .Sections2-box-item-content-main 
              .Sections2-box-item-content-main-icon-location      
                svg.icon.icon-location
                  use(xlink:href='#icon-location')
              a.Sections2-box-item-content-main-desc(href="") Spain
              .Sections2-box-item-content-main-label
                p.label TOP
              .Sections2-box-item-content-main-airplane
                .icon-airplane
                  svg.icon.icon-airplane
                    use(xlink:href='#icon-airplane')
             .Sections2-box-item-content-tag
              a.Sections2-box-item-content-tag-item(href="") 24 apartments,
              a.Sections2-box-item-content-tag-item(href="") 10 apart,
              a.Sections2-box-item-content-tag-item(href="") 2 villas,
              a.Sections2-box-item-content-tag-item(href="") 34 bed and breakfast 
          .Sections2-box-item-arrow
            svg.icon.icon-arrow_right
              use(xlink:href='#icon-arrow_right')
      .Sections2-box
        .Sections2-box-img(style="background-image: url(img/sections25.jpg);")
        .Sections2-box-item
          .Sections2-box-item-content
             h4.Sections2-box-item-content-title Vienna
             .Sections2-box-item-content-main 
              .Sections2-box-item-content-main-icon-location      
                svg.icon.icon-location
                  use(xlink:href='#icon-location')
              a.Sections2-box-item-content-main-desc(href="") Austria
              .Sections2-box-item-content-main-label
                p.label TOP
              .Sections2-box-item-content-main-airplane
                .icon-airplane
                  svg.icon.icon-airplane
                    use(xlink:href='#icon-airplane')
             .Sections2-box-item-content-tag
              a.Sections2-box-item-content-tag-item(href="") 24 apartments,
              a.Sections2-box-item-content-tag-item(href="") 10 apart,
              a.Sections2-box-item-content-tag-item(href="") 2 villas,
              a.Sections2-box-item-content-tag-item(href="") 34 bed and breakfast 
          .Sections2-box-item-arrow
            svg.icon.icon-arrow_right
              use(xlink:href='#icon-arrow_right')
      .Sections2-button
        p.Sections2-button-title Show me all destinations    
        .Sections2-button-icon
          svg.icon.icon-arrow_right
            use(xlink:href='#icon-arrow_right')