section.Sections6
  .container
    .Sections6-head
        h1.Sections6-head-title Still deciding where to stay?
        p.Sections6-head-subtitle We want to make your decision easier! With over 131,150,000 verified guest reviws, we can help you find the perfect place to stay.
    .Sections6-tabmenu
        .Sections6-tabmenu-button-main
          a.Sections6-tabmenu-button-main-link(href='#') Hotel reviews
          a.Sections6-tabmenu-button-main-link(href='#') B&B reviews
          a.Sections6-tabmenu-button-main-link(href='#') Rentals reviews
        .Sections6-tabmenu-button-content
          .Sections6-tabmenu-button-content-main
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Edinburgh
              p.Sections6-tabmenu-button-content-main-item-desc 283,485 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Barcelona
              p.Sections6-tabmenu-button-content-main-item-desc 900,938 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Sydney
              p.Sections6-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') İzmir
              p.Sections6-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') London
              p.Sections6-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Bristol
              p.Sections6-tabmenu-button-content-main-item-desc 74,345 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Rome
              p.Sections6-tabmenu-button-content-main-item-desc 122,001 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Manchester
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') İstanbul
              p.Sections6-tabmenu-button-content-main-item-desc 894,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Milano
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Amsterdam
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Dublin
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
        .Sections6-tabmenu-button-content
          .Sections6-tabmenu-button-content-main
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Edinburgh
              p.Sections6-tabmenu-button-content-main-item-desc 283,485 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Barcelona
              p.Sections6-tabmenu-button-content-main-item-desc 900,938 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Sydney
              p.Sections6-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') İzmir
              p.Sections6-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') London
              p.Sections6-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Bristol
              p.Sections6-tabmenu-button-content-main-item-desc 74,345 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Rome
              p.Sections6-tabmenu-button-content-main-item-desc 122,001 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Manchester
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') İstanbul
              p.Sections6-tabmenu-button-content-main-item-desc 894,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Milano
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Amsterdam
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Dublin
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
        .Sections6-tabmenu-button-content
          .Sections6-tabmenu-button-content-main
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Edinburgh
              p.Sections6-tabmenu-button-content-main-item-desc 283,485 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Barcelona
              p.Sections6-tabmenu-button-content-main-item-desc 900,938 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Sydney
              p.Sections6-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') İzmir
              p.Sections6-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') London
              p.Sections6-tabmenu-button-content-main-item-desc 309,780 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Bristol
              p.Sections6-tabmenu-button-content-main-item-desc 74,345 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Rome
              p.Sections6-tabmenu-button-content-main-item-desc 122,001 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Manchester
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') İstanbul
              p.Sections6-tabmenu-button-content-main-item-desc 894,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Milano
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Amsterdam
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews
            .Sections6-tabmenu-button-content-main-item
              a.Sections6-tabmenu-button-content-main-item-title(href='#') Dublin
              p.Sections6-tabmenu-button-content-main-item-desc 194,347 reviews

