section.Showcase2
  .container
    h1.Showcase2-title Save time, save money!
    h3.Showcase2-subtitle Sign up and we'll send the best deals to you

    .Search1
      form.Search1-form(action='')
        .Search1-form-item
          .form-item
            svg.icon.icon-location.form-item-icon
              use(xlink:href='#icon-showcase2-icon-mail')
            input.text(type='text', placeholder='Your mail', value='')
        .Search1-form-item
          .for-work
            label.form-checkbox
              | Send me a link to get the FREE app!
              .checkbox
                input(type='checkbox')
                svg.icon.icon-checkmark
                  use(xlink:href='#icon-checkmark')
          button.button.button-navy.button-full(type='button', name='button') Subscribe