section.Showcase
      .container
        h1.Showcase-title More deals than days in a year.
        h3.Showcase-subtitle
          | From cosy country homes to funky city flats
        .Search
          form.Search-form(action='')
            .Search-form-item
              .form-item
                svg.icon.icon-location(aria-hidden='true')
                  use(xlink:href='#icon-location')
                input.text(type='text' placeholder='Berlin, Germany')
              p.form-description Destination, property name or address
            .Search-form-item
              .form-item
                svg.icon.icon-calendar(aria-hidden='true')
                  use(xlink:href='#icon-calendar')
                input.text(placeholder="Check in - Check out" type="text" onfocus="(this.type = 'date')")
              p.form-description When?
            .Search-form-item
              .form-item
                svg.icon.icon-user(aria-hidden='true')
                  use(xlink:href='#icon-user')
                select.text
                  option(value='guests') Guests
            .Search-form-item
              .for-work
                label.form-checkbox
                  | Are you travelling for work?
                  .checkbox
                    input(type='checkbox')
                    svg.icon.icon-check
                      use(xlink:href='#icon-check')
              button.button.button-navy.button-full(type='button')
                | Let's get started
        .Showcase-shortlink
          a(href='#') Find deals
          a(href='#') Travel guides
          a(href='#') How was your stay?
          a(href='#') Holiday rentals
          a(href='#') for Business
        
        .Showcase-store 
          a(href="", class="Showcase-store-link apple")
            img(src="./img/apple.svg", alt="Apple") 
          a(href="", class="Showcase-store-link google")
            img(src="./img/google.svg", alt="Google") 