
.footer {

  background: $navy-blue;

  &-main {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    color: $white;
    text-align: center;
    
    @include mq("tablet") {
      padding-top: 100px;
      padding-bottom: 60px;
    }

    &-item {

      &-top {
        border-bottom: 2px solid rgba(white, .1);

        @include mq("tablet") {
        display: flex;
        align-items: center;
        justify-content: center;
        }
    
        a{
          display: block;
          color: inherit; // kapsayıcısının rengini aldı
        
          @include mq("tablet") {
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 30px;
          }
    
          & + a {
            margin-top: 10px;
    
            @include mq("tablet") {
            margin-top: 0;
            }
          }
    
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &-bottom {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;


      &-box {
        margin-left: 50px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        &-item {
          margin-bottom: 10px;
        }

        &-store {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 270px;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(white, .2);
    
          &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            padding-right: 20px;
            padding-left: 20px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: rgba(black, .1);
            border-radius: $border-radius;
    
            @include mq("tablet") {
              height: 40px;
            }
            
            &:hover {
              background-color:rgba(black, .3);
            }
    
            img {
              width: 70px;

              @include mq("tablet") {
              width: 90px;
            }
            }
          }        
        }

        &-desc {
          width: 270px;
          color: rgba(white, .3);

          &-tag {
            color: white;
            text-decoration: underline;

            &:hover {
              color: rgba(white, .3);
            }
          }
        }



  
      }
    }
  }
  }

}