.Navigation {
  height: 50px;
  background-color: $color-soft-blue;

  .container {
    overflow: auto;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &-item {
    margin-right: 40px;
    font-size: $font-size-small;
    opacity: 0.4;
    font-weight: 500;
    color: $color-navy;
    &.active {
      font-weight: bold;
      opacity: .8;
    }
  }
}
