.Navigation {
  height: 50px;
  background-color: $color-soft-blue;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
  }

  &-item {
    margin-right: 20px;
    font-size: $font-size-small;
    color: $color-navy;
  }

}