.Navigation {
  background-color: $noname_blue2;
  height: 50px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;//x eksenined kaydırma çubuğu
  }

  &-item {
    margin-right: 10px;
    font-size: $font-size-small;
    color: $navy_blue;
  }
}