.Showcase {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $color-navy url(img/showcase_back.jpg) no-repeat center center / cover;
  text-align: center;

  @include mq("tablet") {
    padding-top: 80px;
    padding-bottom: 170px;
  }

  &-title {
    @include mq("tablet") {
      font-size: 3em;
    }
  }

  &-subtitle {
    margin-top: 10px;
    @include mq("tablet") {
      font-size: 1.4em;
    }
  }

  &-shortlink {
    margin-top: 40px;
    @include mq("tablet") {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      display: block;
      color: inherit;
      @include mq("tablet") {
        margin-left: 10px;
        margin-right: 10px;
      }

      & + a {
        margin-top: 10px;
        @include mq("tablet") {
          margin-top: 0;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-store {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: rgba(black, .15);
      margin-left: 10px;
      margin-right: 10px;
      border-radius: $border-radius;
      @include mq("tablet") {
        height: 50px;
      }

      &:hover {
        background-color: rgba(black, .3);
      }

      img {
        width: 90px;
        @include mq("tablet") {
          width: 110px;
        }
      }
    }
  }

}

.Search {
  text-align: left;
  margin-top: 30px;
  background-color: $color-yellow;
  padding: $gutter;
  box-shadow: 0 20px 40px rgba(black, .2);

  @include mq("tablet") {
    padding: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  &-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq("tablet") {
      flex-direction: row;
    }

    &-item {
      width: 100%;
      @include mq("tablet") {

      }
      & + & {
        margin-top: 20px;
        @include mq("tablet") {
          flex-grow: 1;
          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }

  .for-work {
    font-size: $font-size-small;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    @include mq("tablet") {
      position: absolute;
      top: calc(#{$finger-size} + 20px);
      right: 0;
    }

    .checkbox {
      margin-left: 10px;
    }
  }

}

.Highlights {
  overflow: hidden;
  margin-bottom: 200px;
  margin-top: 30px;
  @include mq("tablet") {
    margin-top: -100px;
    overflow: visible;
  }

  &-slider {

    .flickity-viewport {
      overflow: visible;
    }

  }

  &-item {
    width: 40%;
    height: 200px;
    margin-right: 30px;
    background-color: yellow;
    box-shadow: 0 5px 30px rgba(black, .1);
    @include mq("tablet") {
      width: 300px;
    }

    &.is-expanded {
      width: 80%;
      @include mq("tablet") {
        width: 630px;
      }
    }

    &-show {
      width: 100%;
      height: 100%;
      background: white center center no-repeat / cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
      color: white;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(63, 76, 107, 0.5) 0%, rgba(63, 76, 107, 0.5) 100%);
      }

      .content {
        position: relative;
        z-index: 1;
      }

      .tag {
        &-item {
        }
      }

    }

    &-extra {
      display: none;
    }

  }
}